[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11
[submodule "external/odecraft"]
	path = external/odecraft
	url = https://github.com/phyzan/odecraft
