.cache
__pycache__/
.venv
build/
compile_commands.json

# CMake artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
**/Makefile
!Makefile
!CMakeLists.txt

# Compiled files
*.so
*.o
*.a
*.dylib

# IDE
.vscode/
.idea/

# Python
*.egg-info/
dist/
*.pyc